<h1> Your listings: </h1>

<ul id='listings'>
  <% @listings.each do |listing| %>
    <a href="/spaces/<%= listing.id %>">

    <li>
       <%= listing.title %>
    </li>

    </a>
  <% end %>
</ul>

<h1> Your requests: </h1>

<ul id='requests'>
  <% @requests.each do |request| %>
    <a href="/spaces/<%= request.space.id %>">

    <li>
       <%= request.space.title %>
    </li>

    </a>
  <% end %>
</ul>
