<form action='/users' method ='post'>

  <label for='username'> Username:</label>
  <input type='text' name='username' required>

  <label for='name'> Name: </label>
  <input type='text' name='name'>

  <label for='email'> Email: </label>
  <input type= 'text' name = 'email' required>

  <label for='password'> Password: </label>
  <input type= 'password' name = 'password' required>

  <label for='password_confirmation'> Confirm password: </label>
  <input type= 'password' name = 'password_confirmation' required>

  <input type= 'submit' value = 'Sign up!'>
</form>

# <% if flash[:notice] %>
#  <div id='notice'><%= flash[:notice] %></div>
# <% end %>

<% if flash[:errors] && !flash[:errors].empty? %>
	    <div>
	      <ul id='errors'>
	      <% flash[:errors].each do |error| %>
	      <li><%= error %></li>
	      <% end %>
	    </ul>
	    </div>
	    <% end %>
