<div class="nav-bar">
<% if flash[:errors] && !flash[:errors].empty? %>
Sorry, something went wrong! Please refer to the following errors:
  <ul id='errors' >
  <% flash[:errors].each do |error| %>
  <li> <%= error %></li>
    <% end %>
  </ul>
<% end %>

<% if flash[:notice] %>
  <div id='notice' style="padding-top:20px; padding-left:20px">
    <%= flash[:notice] %>
  </div>
<% end %>
</div>
