<div class="nav-bar">
<% if current_user %>
<h3 id="welcome">
  Welcome, <%= current_user.username %>
</h3>
  <form id="sign-out" action = '/sessions' method = 'POST'>
    <input type = 'hidden' name = '_method' value = 'delete'/>
    <input type = 'submit' value = 'Sign Out'/>
  </form>
  <ul id="menu" style="margin:0;">
    <li><a href='/spaces'>View Spaces</a></li>
    <li><a href='/hosts'>List Space</a></li>
    <li><a href='/users/<%= current_user.username %>'>My Account</a></li>
  </ul>
<% else %>
<ul id="sign-up">
    <li><a href='/users/new'>Sign Up</a></li>
  </ul>
  <form id="form-login" action = '/sessions' method = 'post'>
    <!-- <label for = 'username'>Username:</label> -->
    <input type = 'text' name = 'username' placeholder="Username"/>

    <!-- <label for = 'password'>Password:</label> -->
    <input type = 'password' name = 'password' placeholder="Password"/>

    <input type = 'submit' value = 'Sign In!'>
  </form>

<% end %>

</div>
