<!DOCTYPE html>
<html>
<head>
  <title> EagleBnB | Find your perfect nest! </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
<link href="https://fonts.googleapis.com/css?family=Jim+Nightshade|Roboto+Slab" rel="stylesheet"></head>

<body>
  <div class="nav-bar">
    <%= partial :welcome %>
    <%= partial :flash %>
  </div>
  <%= yield %>
  <footer>Noora, Bernard, Vicky & Vicky, 2017.</footer>
</body>
</html>
