<!DOCTYPE html>
 <html>
    <head>
      <title> EagleBnB | Find your perfect nest! </title>
    </head>

    <body>
    <nav>


      <% if current_user %>
        Welcome, <%= current_user.username %>
        <form action = '/sessions' method = 'POST'>
          <input type = 'hidden' name = '_method' value = 'delete'/>
          <input type = 'submit' value = 'Sign Out'/>
        </form>
        <ul>
          <li><a href='/spaces'>View Spaces</a></li>
          <li><a href='/hosts'>List Space</a></li>
          <li><a href='/accounts'>My Account</a></li>
      <% else %>
          <li><a href='/sessions/new'>Sign In</a></li>
          <li><a href='/users/new'>Sign Up</a></li>
        </ul>
      <% end %>

      <% if flash[:errors] && !flash[:errors].empty? %>
      Sorry, something went wrong! Please refer to the following errors:
        <ul id='errors'>
        <% flash[:errors].each do |error| %>
        <li> <%= error %></li>
          <% end %>
        </ul>
      <% end %>

      <% if flash[:notice] %>
        <div id='notice'>
          <%= flash[:notice] %>
        </div>
      <% end %>

   <%= yield %>
   </body>
 </html>
